.jumbotron {
  font-size: 50px;
  text-align: center;
  background-color: #bcc7d8;
  color: #7a7b7c;
}

.definition {
  display: none;
}

.well {
  height: 200px;
  width: 200px;
  margin: 10px;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
  background-color: #bcc7d8;
}

.row {
  display: block;
  margin: 20px;
}
.keyword {
  font-size: 20px;
  color: #7a7b7c;
}

.definition {
  font-size: 15px;
  font-style: italic;
  color: #7a7b7c;
  background-color: #efe9a0;
}
